<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IUserInfoMapper">

	<select id="getUserIdExists" parameterType="UserInfoDTO" resultType="UserInfoDTO" >
		SELECT DECODE(COUNT(1), 0, 'N', 'Y') AS EXISTS_YN
		FROM USER_INFO
		WHERE USER_ID = #{userId}
	</select>

	<select id="getEmailExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
		SELECT DECODE(COUNT(1), 0, 'N', 'Y') AS EXISTS_YN
		FROM USER_INFO
		WHERE EMAIL = #{email}
	</select>

	<insert id="insertUserInfo" parameterType="UserInfoDTO">
		INSERT INTO USER_INFO
		(USER_ID,
		 USER_SEQ,
		 USER_NAME,
		 PASSWORD,
		 EMAIL,
		 ADDR1,
		 ADDR2,
		 REG_ID,
		 REG_DT,
		 CHG_ID,
		 CHG_DT)
		VALUES (#{userId},
				(SELECT NVL(MAX(USER_SEQ),0)+1 FROM USER_INFO),
				#{userName},
				#{password},
				#{email},
				#{addr1},
				#{addr2},
				#{userId},
				SYSDATE,
				#{userId},
				SYSDATE)
	</insert>

	<select id="getUserList" resultType="UserInfoDTO" parameterType="UserInfoDTO">
		SELECT
		    USER_SEQ,
			USER_ID,
			USER_NAME,
			EMAIL,
			ADDR1
		FROM
			USER_INFO
		ORDER BY REG_DT
	</select>

	<select id="getUserInfo" resultType="UserInfoDTO">
		SELECT
			USER_SEQ,
			USER_ID,
			USER_NAME,
			EMAIL,
			ADDR1
		FROM
			USER_INFO
		WHERE USER_ID = #{userId}
	</select>

	<select id="getLogin" resultType="UserInfoDTO">
		SELECT USER_ID, USER_NAME, EMAIL
		FROM USER_INFO
		WHERE USER_ID = #{userId}
		  AND PASSWORD = #{password}
	</select>

	<select id="getUserId" parameterType="UserInfoDTO" resultType="UserInfoDTO">
		SELECT
		USER_ID,
		USER_NAME,
		EMAIL
		FROM USER_INFO
		WHERE 1=1 <!-- 이거 안써주면 if절 안나옴 -->
		<if test="userId neq null and userId neq '' "> <!-- 비밀번호 찾기라면, user_id 조회 추가 -->
			AND USER_ID = #{userId}
		</if>
		AND USER_NAME = #{userName}
		AND EMAIL = #{email}
	</select>

	<update id="updatePassword" parameterType="UserInfoDTO">
		UPDATE USER_INFO
		SET PASSWORD = #{password}
		WHERE USER_ID = #{userId}
	</update>

</mapper>